<div class="right-bar">
    <div class="button-block">
        <h4>Рассчет кратчайшего расстояния</h4>
        <button id="but" class="control btn btn-primary" disabled="disabled">Рассчитать</button>
        <button id="clear" class="clear" disabled="disabled"></button>
        <div class="clearfix"></div>
        <h2 id="weight"></h2>
        <br />
        <!--
        <label class="radio">
          <input type="radio" name="WayRadio" id="WayRadio1" value="show" checked disabled="disabled">Отобразить маршрут
        </label>
        <label class="radio">
          <input type="radio" name="WayRadio" id="WayRadio2" value="hide" disabled="disabled">Спрятать маршрут
        </label>
        -->
    </div>
</div>